@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h5.top-text {
    color: rgb(104, 81, 255);
}
.card.p-5 {
    border-style: none;
}
h2.main-heading {
    font-size: 55px;
    font-weight: 700;
}
h2.sec-heading {
    font-size: 24px;
    font-weight: 700;
}
p.num-box {
    font-weight: 700;
    font-size: 22px;
    padding-top: 8px;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: #6851FF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
img {
    object-fit: contain;
}