@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: white;
}
main.main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 4%, rgba(243, 241, 255, 1) 35%);
}
h5.top-text {
    color: rgb(104, 81, 255);
}
.card.p-5 {
    border-style: none;
}
h2.main-heading {
    font-size: 55px;
    font-weight: 700;
}
h2.sec-heading {
    font-size: 38px;
    font-weight: 700;
    color: black;
}
h2.third-heading {
    font-size: 24px;
    font-weight: 700;
}
h2.fourth-heading {
    font-size: 34px;
    font-weight: 700;
    color: black;
}
p.num-box {
    font-weight: 700;
    font-size: 22px;
    padding-top: 8px;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: #6851FF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
img {
    object-fit: contain;
}
h2.sec2-heading {
    font-size: 42px;
    font-weight: 700;
}
h2.sec22-heading {
    font-size: 23px;
    font-weight: 700;
}
.white-box {
    border-radius: 20px;
    background-color: white;
}
p.heading-line.text-center {
    font-size: 22px;
}
/* upload section top start css  */

.upload-box {
      border: 2px dashed #7f53ff;
      border-radius: 10px;
      background-color: #f7f4ff;
      padding: 20px 20px;
      text-align: center;
      color: #5a4fcf;
    }

    .upload-box .btn-upload {
      background-color: #7f53ff;
      color: white;
      font-weight: 600;
      border: none;
    }

    .upload-box .btn-upload:hover {
      background-color: #6844cc;
      color: white;
    }

    .upload-box .bi {
      font-size: 3rem;
      color: #6844cc;
    }

    .upload-box small {
      color: #6c757d;
    }
    /* upload section top end css  */

    /* upload section down start css  */

.upload-botm {
      border: 1px dashed #7f53ff;
      border-radius: 10px;
      background-color: #f7f4ff;
      padding: 20px 20px;
      text-align: center;
      color: #5a4fcf;
    }

    .upload-botm .btn-upload {
      background-color: #7f53ff;
      color: white;
      font-weight: 600;
      border: none;
    }

    .upload-botm .btn-upload:hover {
      background-color: #6844cc;
      color: white;
    }

    .upload-botm .bi {
      font-size: 1.5rem;
      color: #6844cc;
    }

    .upload-botm small {
      color: #050505;
      font-size: 18px;
    }
    .upload-sec .upload-botm {
    background-color: white;
}
    /* upload section down end css  */

    /* accordian */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
i.bi.bi-check-circle {
    color: #6851ff;
    font-size: 21px;
}
ul.points-list {
    list-style: none;
    padding: 0px;
}
div#accordionFlushExample {
    padding: 0px;
}
.active, .accordion:hover {
    background-color: transparent;
}
.active, .accordion {
    background-color: transparent;
}
.accordion-flush>.accordion-item:first-child {
    margin-bottom: 15px;
}
.btn-upload .bi {
  font-size: 1rem;
      color: white;
}
.upload-sec {
    width: 40% !important;
}
.upload-botm p {
    font-size: 22px !important;
}
p.text-color {
  padding-top: 20px;
    font-size: 16px !important;
    color: black;
}
.text-color i.bi.bi-lock-fill {
    color: gray;
    font-size: 18px;
}
/* footer */
footer.footer.mt-5 {
    padding: 60px 0px 20px 0px;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
}
footer ul {
    list-style: none !important;
    color: white;
    padding: 0px;
}
ul.d-flex.icons li {
    margin-top: 10px;
    font-size: 28px;
    margin-right: 50px;
}